/* Reset */
*{
    margin: 0px;
    padding: 0px;
    scrollbar-width: none;
    /* overflow: hidden; */
}
/* css variables */
:root{
    /* color */
    --background-color: rgb(17, 17, 17);
    --midground-color: #393E46;
    --lighter-midground-color: #d5d5d5;
    --foreground-color: #00ADB5 ;
    --highlight-color: #EEEEEE;
    --text-color: #d9d9d9;

    /* Typography*/
    --roboto: "Roboto",sans-serif;
    --montserrat: "Montserrat",sans-serif;

}
 
 /* 
:first-child
:last-child
:empty

::marker
::first-letter
::first-line
::selection */

/* Body bgcolor and font */
body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--roboto);
}

/* Nav container to push everything in the middle */
.nav-container{
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
    position: sticky;
    top: 0px;
    backdrop-filter: blur(0.5rem);
    z-index: 5;
}
/* The nav section starts here*/
nav{
    max-width: 65%;
    display: flex;
    position: sticky;
    flex: 1;
    margin: 1rem;
    justify-content: space-around;
    align-items: center;
}

ul{
    display: flex;
}

li{
    list-style-type: none;
    padding-left: 2rem;
}

.nav-logo{
    height: 2rem;
    width: 2rem;
    font-weight: 900;
    font-size: 1.5rem;
}

.nav-icons {
    flex: 1;
    justify-content: space-around;
}
.nav-icons>.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    /* background-color: grey;
    border-radius: 0.2rem; */
}

.nav-logo-container{
    flex: 1;
    justify-content:center;
    align-items: center;
} 


.nav-main{
    display: flex;
    justify-content: flex-start;
    flex:3;
}
/* Navigation sections ends here */

/* Main container to push content inside the main section */

.main-container {
    max-width: 65%;
    margin: auto;
}

/* hero section starts here*/
.hero{
    margin-top: 3rem;
    margin-bottom: 6rem;
    padding: 2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: start;
    gap: 1rem;
    /* background-color: lightgrey; */
}
.hero> .css-image {
    position: relative;
}

/* hero section rotating border */
.border-animation {
    position: absolute;
    top: -0.35rem;
    left: -0.35rem;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border-color: var(--foreground-color);
    border-width: 0.7rem;
    border-style:dashed;
    animation-duration: 3s;
    animation-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-name: rotating-border;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes rotating-border{
    from{
        transform-origin: center;
        transform: rotate(0deg);
        border-color: var(--midground-color);
        border-style: dashed;
        /* border-width: 0.5rem; */
        }
    50% {
        transform-origin: center;
            transform: rotate(180deg);
            border-color: var(--foreground-color);
            border-style: solid;
            /* border-width: 0.8rem;    */
         }
    to{
        transform-origin: center;
        transform: rotate(360deg);
        border-color: var(--midground-color);
        border-style: dashed;
        /* border-width: 0.5rem;    */
     }
}

.hero > .css-image > img{
    height: 20rem;
    width: 20rem;
    padding: 5px;
    border-radius: 50%;
}

.hero>.about-me-section{
    text-align: right;
    max-width: 40%;
}

.about-me-section>h2{
    position: relative;
    font-size: 3rem;
    font-weight: 900;
}

/* "smile and wave boys" - skipper */
.about-me-section>h2>span.wave{
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    animation-duration: 400ms, 10000000ms;
    animation-name: hand-wave, remove-hand;
    animation-iteration-count: 3, infinite;
    animation-direction: reverse;
    animation-timing-function:linear;
    animation-delay: 0.5s, 3s;
}

@keyframes hand-wave {
    from {
        transform-origin: bottom center;
        transform:   rotate(0deg) scale(1);
    }

    25%{
        transform-origin: bottom center;
        transform:  rotate(30deg) scale(1.05);
    }

    50%{
        transform-origin: bottom center;
        transform:  rotate(0deg) scale(1);
    }

    75%{
        transform-origin: bottom center;
        transform: rotate(-30deg) scale(1.05);
    }
    to {
        transform-origin: bottom center;
        transform:  rotate(0deg) scale(1);
    }
}

@keyframes remove-hand{
    from{
        display: none;
    }

    to{
display: none;
    }
}

/* hero section ends here*/

/* project section starts here */
.project-heading{
    color: var(--background-color);
    text-align: center;
    padding: 2rem;
    font-family: var(--montserrat);
    font-size: 3rem;
    font-weight: 900;
}
section.project-section{
    /* background: linear-gradient(var(--background-color) 0%,var(--midground-color) 40%,var(--midground-color) 60%,var(--background-color) 100%); */
    /* background: linear-gradient(180deg in oklab, var(--background-color), var(--midground-color),var(--background-color)); */
    background-color: var(--lighter-midground-color);
    padding-bottom: 2rem;
    font-family: var(--montserrat);
    color: var(--text-color);
}

a,a.card-link:link, a.card-link:hover, a.card-link:visited{
    text-decoration: none;
    color: var(--text-color);
}

section.project-section .card{
    animation-name: fade-in-animation;
    animation-timing-function: ease-in;
    animation-delay: 0ms;
    animation-timeline: view(block 100px 0%);
}

@keyframes fade-in-animation{
    from{
        transform: translateY(150px);
        opacity: 10%;
    }
    
    50%{
    transform: translateY(0px);
        opacity: 100%;
    }

    to{
        transform: translateY(0px);
    }
}

div.card-container{
    margin-top: 2rem;
    margin-bottom: 5rem;
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}
div.card{
    display: flex;
    background:linear-gradient(45deg,var(--midground-color),var(--background-color));
    flex-direction: column;
    border-radius: 40px;
    max-width: 300px;
    justify-content: flex-start;
    align-items: center;
}

div.card:hover{
    animation-timing-function: ease-in;
    animation-duration: 500ms;
    animation-name: levitate;
    animation-iteration-count: 1;
    animation-delay: 0ms;
    cursor:pointer;
    transform: translateY(-10px);
}

div.card:active, div.outline-card:active{
    opacity: 70%;
}

@keyframes levitate{
    from{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    /* to{
        transform: translateY(0px);
    } */
}

.card> img.card-image{
    width: 100%;
    max-height: max(150px, 50%);
    object-fit: cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    filter: grayscale(40%);
    /* background-blend-mode: multiply; */
    /* mix-blend-mode: hard-light; */
    /* background-color: black; */
}

.card>.card-text-content{
    max-height: max(100px,50%);
    text-align: center;
}
.card>.card-text-content>*{
    padding: 0.3rem;
    margin: 0.3rem;
}

.card-text-content>.card-heading{
    text-transform: capitalize;
    font-size: 1.3rem;
}

.card-text-content> .card-content{
    font-size: 1rem;
    font-weight: 600;
}
/* Project Section ends here */

/* Resume section */
section.resume{
    text-align: center;
    padding: 2rem;
    font-size: 3.5rem;
    font-family: var(--montserrat);
    font-weight: 900;
    /* height: 500px; */
}

 div.wave-text > *{
    display: inline-flex;
    max-width: inherit;
    animation-duration: 500ms;
    animation-name: text-wave;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0ms;
}

@keyframes text-wave{
    from{
        color: #00ADB5;
        transform: translateY(0px);
    }

    to{
        color: #393E46;
        transform: translateY(20px);
    }
}
/* Resume section enmds here */

/* minor project sections starts here */
section.minor-projects{
    max-width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.outline-card{
    border: 2px solid var(--highlight-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    min-width: 250px;
    min-height: 200px;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

.outline-card:hover{
    /* box-shadow: 0px 10px var(--highlight-color); */
    animation-timing-function:ease-in;
    animation-duration: 400ms;
    animation-name: slow-box-shadow, levitate;
    animation-iteration-count: 1;
    animation-delay: 0ms;
    transform: translateY(-10px);
    cursor: pointer;
}

@keyframes slow-box-shadow{
    from{
        box-shadow: 0px 0px var(--highlight-color);
    }
    25%{
        box-shadow: 0px 5px var(--highlight-color);
    }
    50% {
        box-shadow: 0px 10px var(--highlight-color);
    }
    75% {
        box-shadow: 0px 5px var(--highlight-color);
    }
    to{
        box-shadow: 0px 0px var(--highlight-color);
    }
}

div.outline-card>img.outline-card-image{
    height: 5rem;
    width: 5rem;
}

.outline-card-heading, .outline-card-content{
    padding: 0.2rem;
}
/* minor project section ends here */

/* Fpooter starts here*/
footer{
    text-align: center;
    padding: 5rem;
    background-color: #d9d9d9;
    color: var(--background-color);
    font-family: var(--montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
}
/* footer ends ehre */

/* Media Query */
@media (width<=1000px){
    
        .main-container,nav {
            flex: 1;
            max-width: 80%;
        }

}

@media (width<= 750px){
    .main-container, nav {
            flex: 1;
            max-width: 85%;
        }
    .nav-main{
            display: none;
        }

    .hero{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .hero>.css-image>img {
        height: 15rem;
        width: 15rem;
    }

    .hero>.about-me-section {
        text-align: center;
        max-width: 60%;
    }

    .about-me-section>h2 {
        font-size: 2rem;
        font-weight: 900;
    }

    .border-animation {
        width: 15rem;
        height: 15rem;
    border-width: 0.5rem;
    top: -0.25rem;
    left: -0.25rem;
}
}

@media (width<= 500px){
    .main-container,nav {
            flex: 1;
            max-width: 90%;
        }

    .hero>.css-image>img {
        height: 10rem;
        width: 10rem;
    }

    .hero>.about-me-section {
        text-align: center;
        max-width: 80%;
    }

    .about-me-section>h2 {
        font-size: 1.5rem;
        font-weight: 800;
    }

    .border-animation {
        width: 10rem;
        height: 10rem;
        border-width: 0.3rem;
        top: -0.15rem;
        left: -0.15rem;
    }

}


